.divMain{
    border-radius: 6px;
    flex: 1;
    margin-bottom: 10px;
}

@keyframes activeColorChange {
  from {color: black;}
  to {color: #32cd32;}
}

.hideBar, .textDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 10px;

    max-height: 30px;
    opacity: 1;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.textBlack{
    color: black;
}
.textGreen{
    animation-name: activeColorChange;
    animation-duration: 0.3s;
    color: #32cd32;
}

.textBlack, .textGreen, .text{
    font-size: 12px;
    font-weight: 600;
}


.barBorder{
    border-radius: 6px;
    border: 1px solid #cac6c6;
    background-color: transparent;
}

.barDiv{
    height: 10px;
    border-radius: 6px;

    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.hideBar{
    max-height: 0;
    opacity: 0;
}
